@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.font-lato {
	font-family: 'Lato', sans-serif;
}

.font-roboto {
	font-family: 'Roboto Slab', serif;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.color-theme-text {
	color: #013232;
}

header {
	position: sticky;
	top: 0;
	z-index: 2;
}

.header-nav {
	background-color: #029797;
	display: flex;
}

.header-nav > h1 {
	flex-basis: 25%;
	padding: 20px 5px 5px 20px;
}

h1 > img {
	width: 200px;
}

.bar-menu {
	display: none;
}

nav {
	flex-basis: 75%;
	text-align: right;
	display: block;
}

nav ul {
	margin-top: 14px;
	margin-right: 20px;
}

nav li {
	display: inline-block;
	list-style-type: none;
	padding: 20px;
}

nav li:hover {
	border-bottom: 3px solid #02CACA;
	font-weight: 700;
	cursor: pointer;
}

nav a {
	font-size: 18px;
	text-decoration: none;
	color: white;
}

footer {
	width: 100%;
	padding: 30px;
	color: white;
	background-color: #016565;
	text-align: center;
}

#trailer h2 {
	color: #029797;
	font-size: xx-large;
	text-align: center;
	padding-top: 60px;
	margin-bottom: 30px;
}

#trailer img {
	display: none;
	width: 500px;
	margin: 0 auto;
}

#trailer .video {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}

.video iframe {
	width: 80vw; 
	height: 380px;
	margin: 0 auto;
}

#trailer {
	background-color: rgba(2, 202, 202, 0.1);
	padding: 30px;
}

#trailer p {
	margin-bottom: 10px;
	text-align: justify;
	font-size: 18px;
}

#trailer a {
	padding: 20px 50px;
	background-color: #02CACA;
	color: white;
	text-decoration: none;
	font-weight: 400;
	border-radius: 8px;
}

#trailer a:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
	font-weight: 700;
}

#trailer .button-watch {
	width: 100%;
	text-align: center;
	margin: 50px 0;
}

#rank {
	background-color: whitesmoke;
	padding: 80px 30px 60px;
}

#rank h2 {
	margin: 10px 0;
	font-size: x-large;
	color: #029797;
}

#rank > p {
	text-align: justify;
	border-bottom: 1px solid gray;
	padding-bottom: 20px;
}

#rank h3 {
	margin: 20px 0 10px;
	color: #029797;
}

.wrap-rank {
	display: flex;
	justify-content: space-between;
	padding-bottom: 15px;
	border-bottom: 1px solid gray;
}

.wrap-rank p {
	height: 80px;
	overflow: auto;
	font-size: 12px;
	margin-top: 7px;
}

.rank-movie {
	flex-basis: 23%;
}

#rank img {
	width: 100%;
	height: 150px;
	border-radius: 8px;
	border: 1px solid gray;
	object-fit: cover;
	object-position: top;
	cursor: pointer;
}

#next {
	padding: 80px 30px 60px;
}

#next h2 {
	padding: 20px 0;
	color: #029797;
	margin-bottom: 10px;
	border-bottom: 1px solid gray;
}

.wrap-next {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
}

.wrap-next .wrap-img {
	flex-basis: 37%;
}

.wrap-next .description {
	flex-basis: 60%;
}

.wrap-next h3 {
	padding-top: 5px;
	padding-bottom: 15px;
	color: #029797;
}

.wrap-next p {
	text-align: justify;
	height: 150px;
	overflow: auto;
}

.wrap-next a {
	padding: 15px 30px;
	background-color: #02CACA;
	color: white;
	text-decoration: none;
	font-weight: 400;
	border-radius: 8px;
	position: relative;
	top: 27px;
	z-index: 1;
}

.wrap-next a:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
	font-weight: 700;
}

#next img {
	width: 100%;
	height: 300px;
	border-radius: 8px;
	object-fit: cover;
	object-position: top;
	cursor: pointer;
}

.profile {
	background-color: rgba(2, 202, 202, 0.1);
	padding: 40px 0 60px;
	text-align: center;
}

.profile h2 {
	padding: 100px 0 10px;
	color: #029797;
}

.profile img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
	border-radius: 8px;
	border: 1px solid #029797;
}

.wrap-info-penulis {
	padding-top: 20px;
}

.profile h3 {
	color: #02CACA;
}

.profile table {
	margin: 0 auto;
	font-size: 18px
}

table tr th {
	font-size: 25px;
	color: #02CACA;
}

table tr td {
	color: gray;
	text-align: left;
	padding-left: 10px;
}

table tr a {
	color: gray;
	text-decoration: none;
}

.footer-logo {
	width: 150px;
}

.footer-social-media-text {
	width: 100%;
	border-top: 2px solid white;
	margin: 20px 0 10px 0;
	padding-top: 10px;
}

.footer-social-media-icon {
	font-size: 2em;
	letter-spacing: 5px;
}

.footer-social-media-icon a {
	text-decoration: none;
	color: white;
}

.footer-social-media-icon a:hover {
	text-decoration: none;
	color: white;
	text-shadow: 2px 3px 2px rgba(0,0,0,0.3);
}

@media screen and (max-width: 750px) {

	.header-nav {
		flex-direction: column;
		background-color: rgba(0,0,0,0);
	}

	.header-nav > h1 {
		flex-basis: 100%;
		padding: 20px 0px 5px;
		text-align: center;
		background-color: #029797;
	}

	.bar-menu {
		display: block;
		text-align: right;
		font-size: x-large;
		color: white;
		margin: -50px 30px -25px;
	}

	.bar-menu > i:hover {
		text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
		cursor: pointer;
	}

	nav {
		display: none;
		flex-basis: 100%;
		text-align: left;
		margin-top: 43px;
	}

	nav ul {
		margin-top: 0px;
		margin-right: 20px;
		margin-left: 20px;
		background-color: white;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,0.5);
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		border-top: 3px solid #02CACA;
	}

	nav li {
		display: block;
		list-style-type: none;
		padding: 20px;
		border-bottom: 1px solid whitesmoke;
		margin: 0 40px;
	}

	nav li:hover {
		border-bottom: none;
		font-weight: 700;
		cursor: pointer;
		background-color: whitesmoke;
	}

	nav a {
		font-size: 15px;
		text-decoration: none;
		color: gray;
	}

	.video iframe {
		height: 300px;
		margin: 0 auto;
	}

	.wrap-rank {
		flex-wrap: wrap;
	}

	.rank-movie {
		flex-basis: 48%;
		min-width: 230px;
		padding-bottom: 20px;
	}

	.wrap-next a {
		padding: 5px 10px;
		top: 10px;
	}

}

@media screen and (max-width: 550px) {

	#trailer p {
		font-size: 16px;
	}

	#trailer a {
		padding: 20px 20px;
		font-size: 16px;
	}

	#rank h3 {
		margin-top: 25px;
	}

	.rank-movie {
		flex-basis: 100%;
	}

	.wrap-next {
		flex-direction: column-reverse;
	}

	.wrap-next .description {
		text-align: center;
	}

	.wrap-next h3 {
		font-size: 18px;
		text-align: left;
	}

}